.changePlanContainer {
    display: flex;
    gap: 16px;
    flex-direction: column;
}
.buttonContainer {
    flex-direction: row;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: space-between;
}
